<h1 class="display-6">Edit Employee Details</h1>
<br/>

<%= render 'form' %>

<%= link_to 'Show', @employee, class:"btn btn-secondary m-2" %>
<%= link_to 'Back', employees_path, class:"btn btn-secondary m-2" %>
